<div class="pr-4 my-5">
   <h1 class="text-warning">Hi,</h1>
   <h1 class="text-secondary">I'm <em class="text-warning">Vince Churchill</em></h1>
   <h1 class="text-secondary">Welcome to my <em class="text-warning">Blog.</em></h1>
   <hr>
</div>