<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

h3 {
text-align: center;
margin-top: 30px;
}

form {
border: 1px solid rgb(188, 188, 188);
box-shadow: 3px 7px 11px -3px rgba(117,108,108,0.75);
-webkit-box-shadow: 3px 7px 11px -3px rgba(117,108,108,0.75);
-moz-box-shadow: 3px 7px 11px -3px rgba(117,108,108,0.75);
border-radius: 20px;
padding: 5%;
}

.form-group {
margin-bottom: 20px;
}

form input[type="submit"] {
width: 50%;
margin-left: 25%;
border-radius: 20px;
box-shadow: 3px 7px 11px -3px rgba(117,108,108,0.75);
-webkit-box-shadow: 3px 7px 11px -3px rgba(117,108,108,0.75);
-moz-box-shadow: 3px 7px 11px -3px rgba(117,108,108,0.75);
}

form input[type="text"] {
border-radius: 40px;
}

form label {
font-size: 1.5rem;
}

nav {
box-shadow: 1px 7px 11px -3px rgba(117,108,108,0.75);
-webkit-box-shadow: 1px 7px 11px -3px rgba(117,108,108,0.75);
-moz-box-shadow: 1px 7px 11px -3px rgba(117,108,108,0.75);
width: 100%;
padding-left: 5%;
padding-right: 5%;
}

blog-body {
   margin-top: 20%;
   margin-bottom: 20%;
}

.bi.bi-trash.mx-2:hover {
   color: brown;
   transition-delay: .1s;
   cursor: pointer;
}

</style>
<title>Chill-Logs || <%= title %></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
