<nav class="navbar navbar-expand-md navbar-light border-bottom border-warning sticky-top bg-light">
   <a href="/" class="navbar-brand"><h1>#Chill-Logs</h1></a>
   <button class="navbar-toggler"
   type="button"
   data-bs-toggle="collapse"
   data-bs-target="#toggleMobileMenu">

   <span class="navbar-toggler-icon"></span>

   </button>
   <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav text-center ms-auto">
         <li>
            <a href="/" class="nav-link active">Home</a>
         </li>
         <li>
            <a href="/" class="nav-link">BlogPosts</a>
         </li>
         <li>
            <a href="/blogs/create" class="nav-link">Write</a>
         </li>
      </ul>
   </div>
</nav>